.card {
  max-width: 413px;
  position: relative;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.card__image {
  height: 413px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  object-fit: cover;
}

.card__image:hover {
  opacity: 0.9;
  transition: opacity 0.2s ease;
}

.card__delete-button {
  background-image: url(../images/trashcan.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.card__delete-button:hover {
  background-image: url(../images/trashcanHover.svg);
}

.card__title {
  margin: 0;
  max-width: 353px;
  padding-top: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 120%;
  font-weight: 500;
  font-size: 20px;
}

.card__footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/like-heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  padding-top: 12px;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/likeActive.svg);
  opacity: 1;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card__like-button_active:hover {
  background-image: url(../images/likeActive.svg);
  opacity: 0.4;
}

@media screen and (max-width: 630px) {
  .card {
    max-width: 288px;
  }

  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
  }
}
