.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  border-radius: 8px;
}

.card__title {
  margin: 0;
  max-width: 353px;
  padding-top: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 120%;
  font-weight: 500;
  font-size: 20px;
}

.card__content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/like-heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media screen and (max-width: 630px) {
  .card {
    max-width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
  }
}
