.page {
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  min-height: 100vh;
  color: #212121;
}

.page__section {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  position: relative;
}
